body
{
    margin: 0;
}

.Overview-Page
{
    background-image: url(./Assets/Backgrounds/Dirt_Background.png);
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;

    background-size: cover; /* Ensures the background covers the entire section */
    background-repeat:repeat-x; /* Prevent background repetition */
    overflow-x: hidden;
}