body
{
    margin: 0;
    font: 20pt;
}

h1
{
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    font-size: 1.5vw;
    font-size: clamp(20px, 1.5vw, 40px)
}

h2
{
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.75vw;
    font-size: clamp(15px, 1.75vw, 25px);
    font-weight: bold;
}

h3
{
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 500;
    font-size: 1vw;
    font-size: clamp(10px, 1vw, 20px);
}

ul
{
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 450;
    font-size: clamp(15px, 1vw, 18px);
}

p
{
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 350;
    font-size: clamp(15px, 1vw, 18px);
}

.about-page
{
    background: none;
    display: flex;
    flex-direction: column;

    justify-content: center;
}

.main-container h1, h2, h3, h4
{
    margin-left: 5px;
    margin-right: 5px;
}


/* Reset margins and padding */
.cma-logo html, body 
{
    margin: 0;
    padding: 0;
    height: 100%; /* Ensure body and html cover the full viewport */
}       

.background-image 
{

    height: auto; /* Full viewport height */
    background-size: cover; /* Ensures the background covers the entire section */
    background-repeat:repeat-x; /* Prevent background repetition */
    overflow-x: hidden;
}

/* First image as background for the first section */
.forest 
{
    height: 1400px;
    background-image: url('./Assets/Backgrounds/Forest_Background_Cropped.png');
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: flex-start; /* Centers vertically */
    background-position: center;
}

/* Second image as background for the second section */
.dirt 
{
    height: 2000px;
    background-image: url('./Assets/Backgrounds/Dirt_Background.png');

}



#toolbar
{
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 50;
}

.logo-container
{
    height: 19vw;
    width: 19vw;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute; /* Absolute positioning within the .forest container */
    justify-content: center;
    top: 30%; /* Position 1/4 (25%) from the top of the container */
    border-radius: 50%;
    border: 2px solid black;

    min-width: 250px;
    min-height: 250px;
}

.cma-logo
{
    height: 25%;
    width: 25%;
    margin: 0;
}

.logo-message h1, h2
{
    text-align: center;
    margin: 0;
    padding: 0;
}

#toolbar img
{
    height: 150px;
}


.temple-border
{
    width: 100vw;
}

.content-container
{
    display: flex;
    align-items: center;
    margin-top: 5vw;
    gap: 5vw;
    flex-direction: column;
    height: 180vh;
    flex-shrink: 1;
}

.content-block
{
    /*
    width: 70vw;
    height: 350px;
    */

    width: 70vw;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-between;
    
}

.content-icon
{
    width: 25%;
    min-width: 150px;
}

.content-icon img
{
    width: 90%;
}

.content
{
    background-color: gray;
    border: 5px solid black;
    height: 25vh;
    width: 100%;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}



.content-info
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; /* Ensure vertical centering */
    width: 45%; /* Ensure full container width usage */
    height: 100%;
    
}

.content-text
{
    margin: 20px;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items:self-start;
}

.reverse
{
    flex-direction: row-reverse;
}

.vertical-spacer
{
    width: 0.5%;
    height: 100%;
    background-color: black;
}

.vertical-spacer-small
{
    width: 0.5%;
    height: 250px;
    background-color: black;
    margin: 25px;
}

.vid-wrap, .redesign-vid-wrap
{
    margin: 5px;
    height: 90%;
    display: flex;
}

.img-wrap
{
    width: 40%;
    margin: 5px;
    height: 90%;
    display: flex;
    justify-content: center;
}
.redesign-vid-wrap
{
    width: 30%;
}

.youtube-vid
{
    aspect-ratio: 16/9;
    width: 100%;
    border-radius: 50px;
}

.demo-vid
{
    aspect-ratio: 16/9;
    width: 80%;
    border-radius: 50px;
    
}

.demo-img
{
    width: 80%;
    border-radius: 50px;
}

.section-icon img
{
    height: 200px;
}

.right-allign
{
    align-items: self-end;
}

.circle-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; /* 100% of its container's width */
    max-width: 220px; /* Limit the maximum size */
    aspect-ratio: 1 / 1; /* Maintain 1:1 ratio for circle */
    border-radius: 50%; /* Ensures the shape stays circular */
    background-color: #52361a;
    overflow: hidden; /* Prevents content overflow */
    background-size: cover; /* Ensures the background image covers the circle */
    background-position: center; /* Centers the background image */
    background-repeat: no-repeat; /* Ensures the background image doesn't repeat */
    transition: transform 1s;
    cursor: pointer;
}

.small-icon
{
    max-height: 75%;
    max-width: 75%;
    height: auto;
    transition: transform 0.5s;
}

.eliv8
{
    background-image: url('./Assets/PortfolioPics/EV8.jpg');
}

.package
{
    background-image: url('./Assets/PortfolioPics/404.jpg');
}

.lense
{
    background-image: url('./Assets/PortfolioPics/MWH.png');
}

.jam-icon
{
    background-position: center;
    transition: transform 1s;
    width: 100%;
}



.footer-main {
    position: absolute;
    background-image: url("./Assets/Backgrounds/TempleFull.png");
    
    /* Set the container to be full width */
    width: 100%;
    height: 100vh;

    /* Ensure the image scales to fit the entire width of the viewport */
    background-size: cover;  /* Set the width to 100% of the viewport, height adjusts automatically */
    background-repeat: repeat-x;
    background-position: top center; /* Align the image to the top and center it horizontally */

    /* Adjust the height to allow the image to maintain its aspect ratio */

    overflow-x: hidden;
    
    bottom: -70vh;
}


.footer-container
{
    position: relative;

    padding: 0;
    margin: 0;
}


.footer-portals
{
    position: absolute; /* Position portals relative to footer */
    width: 100vw;
    top: 57%; /* Adjust this as needed to control the vertical placement inside the footer */
    transform: translateY(-50%); /* Center vertically */
    display: flex;
    justify-content: center;
    gap: 15vw; /* Adjust for spacing between portals test */
}

.portal
{
    width: 200px;
}


.demo-content
{
    background-color: gray;
    border: 5px solid black;
    height: 92%;
    width: 100%;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.demo-descripition
{
    height: 275px;
    width: 800px;

    display: flex;
    flex-direction: column;
}

.demo-title
{

    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.demo-summary
{

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.demo-summary p
{
   margin: 10px;
}

.overview-header {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overview-header-content {
    background-color: gray;
    border: 5px solid black;
    width: 50%;
    height: 40px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.button
{
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background-color: #b66514;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    margin-bottom: 5px;
}

.button-link
{  
    text-decoration: none; /* Removes the underline */
    color: inherit; /* Keeps the color of the text the same as the parent element */
}

.overview-header-content
{
    height: 125px;
}

.about-background
{
    height: 100%;
}

.about-content-container
{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}



.about-content
{
    background-color: gray;
    border: 5px solid black;
    height: auto;
    width: 80vw;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
}

.about-pic
{
    border-radius: 50px;
    height:30vw;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    /*background-color: black;*/
}

.about-pic img
{
    border: 2px solid black;
    border-radius: 50px;
    height: 100%;
    width: auto
    
}

.willow
{
    height: 80%;
}

.about-descripition
{
    background-color:darkgray;
    border: 2px solid black;
    border-radius: 50px;
    width: 65%;
    height: 75%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.about-column
{
    background-color: blue;
    width: 50%;
    height: 99%;
    
    display: flex;
    flex-direction: column;
    margin: 5px;
    align-items: center;

    p, h2
    {
        text-align: center;
    }

}

.about-title
{
    width: 95%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    p, h2
    {
        text-align: center;
    }
}

.about-int
{
    margin: 5px;
}

.about-summary
{
    height: 75%;
    width: 95%;
    
}

.about-list
{
    height: 50%;
    width: 95%;
    display: flex;

    align-items: center;
    flex-direction: column;
}


.about-points
{
    height: 75%;
    width: 100%;
    display: flex;

    justify-content: space-evenly;
}

.about-points, .about-list, .about-summary, .about-title, .about-column
{
    background: none;
}






/* Gallery images */
.gallery-image {
    width: 100px;
    margin: 10px;
    cursor: pointer;
}



/* Close button */
.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }

  /*
  .modal-content {
    background: none;
    padding: 20px;
    border: 1px solid #888;
    width: 100%;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
    z-index: 100;
    overflow-y: scroll;
    }
    */

    /* Modal content styling */
    .modal-content {
        background: none; /* Keep your original background setting */
        padding: 20px;
        border: 1px solid #888;
        width: 100%;
        max-height: 100%; /* Set a max height to enable scrolling */
        overflow-y: scroll; /* Enable vertical scrolling */
        scrollbar-width: none; /* For Firefox */
        -ms-overflow-style: none; /* For Internet Explorer and Edge */
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
        z-index: 100;
      }
      
      /* Hide scrollbar for WebKit browsers (Chrome, Safari) */
      .modal-content::-webkit-scrollbar {
        display: none; /* Hide the scrollbar */
      }
  
  /* Hide scrollbar for WebKit browsers (Chrome, Safari) */
  .modal-content::-webkit-scrollbar {
    display: none; /* Hide the scrollbar */
  }

  /* Close button */
  .close {
    position: absolute;
    top: 25%;
    right: 5%;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    z-index: 101;
  }

  .close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  @media only screen and (max-width: 1700px)
  {
      .footer-portals
      {
          top: 48%;
      }

  }

  @media(max-width: 720px)
  {
    #toolbar
    {
        flex-wrap: wrap;
    }

    #toolbar img
    {
        height: 125px;
    }

    
    .content
    {

        height: auto;
    }

    .content-info{
        flex-wrap: wrap;
    }

    #jams-content
    {
        flex-wrap: nowrap;
    }

    .circle-link
    {
        height: 20vw;
        width: 20vw;
    }

    .jam-icon
    {
        height: 15vw;
        width: 15vw;
    }

    .content-text
    {
        align-items: center;
    }

    .vertical-spacer
    {
        height: auto;
    }
  }

  @media(max-width: 870px)
  {
    .content-block
    {
        flex-wrap: wrap;
    }

    .content-icon
    {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .about-content
    {
        flex-wrap: wrap;
    }

    .about-descripition
    {
        flex-wrap: wrap;
        flex-direction: row;
    }

    .reverse
    {
        flex-direction: row;
    }

    .demo-content
    {
        flex-direction: column-reverse;
    }

    .demo-descripition
    {
        flex-direction: column;
        align-items: center;
    }

    .demo-summary
    {
        justify-content: center;
        align-items: center;
        width: 20%;
        text-align: center;
    }

    .img-wrap
    {
        width: 80%;
    }

    .content-icon img
    {
        width: 150px;
    }

    .dirt
    {
        height: 2300px;
    }
  }

  @media (max-width: 900px)
  {
    .footer-main
    {

        height: 50vh;
        bottom: -0vh;
    }

    .portal
    {
        width: 90px;
    }

    .forest
    {
        height: 1000px;
    }
  }